<section id="cards-area">
    <div class="container">
        <div class="cards-all">
            <h1 class="text-center">Crud</h1>
            <div class="row mt-md-5 cards-container">
                <div class="cards col me-md-5 ">
                    <div class="cards-header">
                        <img src="../../../assets/images/writing.png">
                        <h4>CREATE</h4>
                    </div>
                    <p class="cards-text">Criar um novo registro.</p>
                </div>
                <div class="cards col me-md-5">
                    <div class="cards-header">
                        <img src="../../../assets/images/open-book.png">
                        <h4>READ</h4>
                    </div>
                    <p class="cards-text">Ler um registro, ou uma lista de registros.</p>
                </div>
                <div class="cards col me-md-5">
                    <div class="cards-header">
                        <img src="../../../assets/images/refresh-page-option.png">
                        <h4>UPDATE</h4>
                    </div>
                    <p class="cards-text">Atualizar um registro.</p>
                </div>
                <div class="cards col">
                    <div class="cards-header">
                        <img src="../../../assets/images/delete.png">
                        <h4>DELETE</h4>
                    </div>
                    <p class="cards-text">Excluir um registro.</p>
                </div>
            </div>
        </div>
    </div>
</section>