<div id="slider">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 align-self-center mb-md-0 mb-4">
                <h1 class="mb-md-4">Conheça já o serviço de gerenciamento de tarefas da Nido!</h1>
                <a href="#" class="btn button-primary btn-primary button d-md-inline-block d-block mb-md-0 mb-2 me-md-2">Vamos lá</a>
            </div>
            <div class="col-md-6 align-self-center text-center">
                <img src="../../../assets/images/undraw_accept_tasks_re_09mv.svg" class="img-fluid">
            </div>
        </div>
    </div>
</div>